In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
engine = create_engine("sqlite:///Data/hawaii.sqlite")
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [6]:
Measurement = Base.classes.measurement
Station = Base.classes.station
session = Session(engine)

In [79]:
sql = """
        SELECT strftime('%m/%Y',date) as Month, SUM(prcp) AS Precipitation
        FROM measurement 
        WHERE Month Between (SELECT strftime('%m/%Y',MAX(date(date,'-1 year'))) FROM measurement) AND
        (SELECT strftime('%m/%Y',MAX(date)) FROM measurement)
        GROUP BY Month;
        """

precip = pd.read_sql(sql,con = engine, index_col = "Month")
precip

         Precipitation
Month
08/2016          55.39
08/2017           5.18

In [66]:
sql = """
        SELECT strftime('%m/%Y',MAX(date(date,'-12 month')) ) as Month
        FROM measurement;
        """

max_mon = pd.read_sql(sql,con = engine)
max_mon

     Month
0  08/2016